

body {
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Open Sans', Arial, sans-serif;
	background-image: url("../images/hpbackground.jpg");
}

h1 {
	color: #fff;
	text-align: center;
}

.container {
	max-width: 600px;
	background-color: #fff;
	padding: 15px;
}

.row {
	text-align: center;
}

#startGame {
	visibility: visible;
	border: 1px solid #7f0909;
	padding: 6px 20px;
	margin: 10px auto;
	background-color: #fff;
}

.announcement {
	min-height:20px;

}

.scoreboard {
	font-size: 18px;
	padding:5px 0;
}

#displayQuestion {
	font-size: 18px;
	padding-top: 15px;
	visibility:hidden;
}

#answerChoices {
	font-size: 16px;
	visibility: hidden;
	margin: 0 auto;
}

.choices {
	border: 1px solid #7f0909;
	padding: 6px 20px;
	margin: 10px auto;
	display: block;
	background-color: #fff;
	min-width: 300px;
	max-width: 500px;
}

button:hover,
#startGame:hover {
	background-color: #ffe799;
}

.correctAns {
	background-color: #ffc500;
}

.selectedAns {
	background-color: #ffe799;
}